body {
    background: #0d1117;
    color: white;
    font-family: Arial;
    margin: 0;
}

header {
    padding: 30px;
    background: #161b22;
    text-align: center;
}

.logo {
    width: 80px;
}

.container {
    width: 600px;
    margin: 30px auto;
}

#city-input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #30363d;
    background: #161b22;
    color: white;
}

ul#autocomplete-list {
    list-style: none;
    background: #1c2128;
    margin-top: 5px;
    padding: 0;
    border-radius: 8px;
}

ul#autocomplete-list li {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #30363d;
}

ul#autocomplete-list li:hover {
    background: #30363d;
}

.weather {
    margin-top: 40px;
    padding: 20px;
    border-radius: 12px;
    background: #1c2128;
    text-align: center;
}

.flag {
    width: 50px;
}

.weather-icon {
    width: 120px;
}

.hidden {
    display: none;
}

@media (max-width: 800px) {
    .container {
        width: 90%;
    }
}
