body {
    font-family: Arial, sans-serif;
    background-color: #0c0c0f;
    color: #fff;
    text-align: center;
    padding: 50px;
}

input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.autocomplete {
    background-color: #1a1a1a;
    border-radius: 5px;
    margin-top: 5px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #333;
}

#weather {
    margin-top: 20px;
}

.hidden {
    display: none;
}
